#  Local .terraform directories
**/.terraform/*

# Local terraform frontend
backend.tf
.terraform.lock.hcl

# .tfstate frontend
*.tfstate
*.tfstate.*

# .tfvars frontend
*.tfvars

# plan frontend
plan.out
*.zip

# python library files
terraform/backend/bson/
terraform/backend/dns/
terraform/backend/dnspython-*.dist-info/
terraform/backend/gridfs/
terraform/backend/pymongo-*.dist-info/
terraform/backend/pymongo/

.idea
.iml

.DS_Store
